{% extends "base.html" %}
{% block page-title %}TF Maker{% endblock %}
{% block tools %}active{% endblock %}

{% block page-container %}
    <div class="col-lg-6">
    <div>
        <h1>投标文件制作工具-技术方案</h1>
        <form action="" method="post" class="">{% csrf_token %}
            <div>
                <label>input</label>
                <input name="" />

            </div>

            <input type="submit" value="Submit"/>
        </form>
    </div>



    </div>
    <div class="col-lg-6">


    right content

    </div>

{% endblock %}